*.pyc
docs_src/build/
build
dist
.idea
*.log
cbpi.egg-info
log
venv
venvCraftbeerPi/
cbpi/extension/ui
node_modules
.DS_STORE
.DS_Store
.vscode
.venv*
.DS_Store 
config/*
logs/
.coverage
__pycache__/
*.pyc
*.pyo